# Замените PROXY_HOST на IP/домен хоста, где запущен docker-compose
PROXY_HOST=YOUR_SERVER_IP
PROXY_USER=proxy_9b93b2
PROXY_PASS=DTvWPDSk6UeD3HGXiji7

# HTTP/HTTPS через 3proxy
HTTP_PROXY=http://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:3128
HTTPS_PROXY=http://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:3128

# SOCKS5 через 3proxy
ALL_PROXY=socks5://${PROXY_USER}:${PROXY_PASS}@${PROXY_HOST}:1080
